body {
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.share-social-network-button {
    background: #5E5DF0;
    border-radius: 20px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);

    z-index: 1;
}

.share-social-network-button:hover {
    transform: translateY(-2px);
}

.share-social-network-button.clicked {
    background-color: #53a653;
    transform: translateY(-32px);
    opacity: 0;
    transition: background-color 0s, transform 0.2s ease-out, opacity 0.2s ease-out;
}

.link-class {
    color: #2d2deb;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    cursor: none;
}

.link-class.fade-in {
    opacity: 1;
}

.link-class.fade-out {
    opacity: 0;
}